h2{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px black;
	color: black;
	text-align: center;
	font-size: 25px;
}

.desks li{
	font-size: 20px;
	height: 60px;
}

.desks li .thumb{
	float: left;
	width: 40px;
	height: 40px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.desks li .deskName{
	float: left;
	padding-top: 15px;
}

.desks li .deskAmount{
	float: right;
	padding-top: 15px;
}

footer{
	height: 100px;
	background: white;
	color: black;
	border-top: solid 2px black;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

footer h1{
	float: left;
	font-size: 22px;
}

footer #amount{
	float: right;
}

footer br{
	clear: both;
}

footer a{
	margin-top: 20px;
}

body{
	margin-top: 40px;
	margin-bottom: 110px;
}

.mobileList .active{
	background: rgb(53,249,9); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(53,249,9,1) 0%, rgba(86,226,93,1) 44%, rgba(100,214,87,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,249,9,1)), color-stop(44%,rgba(86,226,93,1)), color-stop(100%,rgba(100,214,87,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(53,249,9,1) 0%,rgba(86,226,93,1) 44%,rgba(100,214,87,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(53,249,9,1) 0%,rgba(86,226,93,1) 44%,rgba(100,214,87,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(53,249,9,1) 0%,rgba(86,226,93,1) 44%,rgba(100,214,87,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(53,249,9,1) 0%,rgba(86,226,93,1) 44%,rgba(100,214,87,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35f909', endColorstr='#64d657',GradientType=0 ); /* IE6-9 */
}


