h2{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px black;
	color: black;
	text-align: center;
	font-size: 25px;
}

.desks li{
	font-size: 20px;
	padding: 10px;
	height: 20px;
    cursor: pointer;
}

.desks li a {
    display: block;
}

.desks a{
	text-decoration: none;
	color: black;
}

.desks li .deskName{
	display: inline-block;
}

.desks li .deskAmount{
	float: right;
}

.mobileList a {
    width: 100%;
    display: block;
}

body{
	margin-top: 40px;
	margin-bottom: 0px;
}
