
label {
  display: block;
  width: 200px;
  float: left;
}
input {
  display: block;
  float: left;
}

input[type=text], input[type=password] {
  border-radius: 6px;
  padding: 5px 10px;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
} 

label, input{
  margin: 5px 0 5px 0px;
}

.clear{
	clear: both;
}
