/* === FOOTER BAR === */
.ui-footer {
	border-color: #0d0d0d;
	background: #2d2d2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d2d2d 0%, #151515 49%, #000000 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(49%,#151515), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2d2d2d 0%,#151515 49%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2d2d2d 0%,#151515 49%,#000000 50%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2d2d2d 0%,#151515 49%,#000000 50%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #2d2d2d 0%,#151515 49%,#000000 50%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.ui-footer .ui-btn {
	border: 0 none;
	background: transparent;
}
.ui-footer .ui-btn{
	margin: 2px !important;
}
.ui-footer .ui-btn-inner{
	padding: 5px !important;
}
.ui-focus, .ui-btn:focus{
	box-shadow: none !important;
}
.ui-footer .ui-btn-active {
	background: none rgba(205,205,205,0.2);
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	text-shadow: none;
}
.ui-footer .ui-btn-inner {
	border-color: #434343;
	border: none !important;
}
.ui-footer .ui-btn-text {
	font-size: 8px;
	text-shadow: 0 none;
}
.ui-footer .ui-icon-custom.ui-icon {
	width: 32px;
	height: 32px;
	margin-left: -16px;
}