#ipad {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0px;
  top: 0px;
}

#ipad.landscape {
  background: url('../img/ipad_landscape.png');
  width: 1108px;
  height: 852px;
}

#ipad #frame {
  border: none;
  background: #fff;
  position: absolute;
  left: 42px;
  top: 138px;
}

#ipad.landscape #frame {
  width: 1024px;
  height: 672px;
}

.clear {
  clear: both;
}