header {
	height: 28px;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
}

html {
    background: url("../img/darkwood.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat-x;
}

body {
    margin-top: 28px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

footer {
    height: 28px;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    display: block;
}

.clear {
    clear: both;
}