header {
    height: 40px;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    margin-top: 40px;
    font-family: HelveticaNeue;
}

footer {
    height: 40px;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {

}

.order {
    box-sizing: border-box;
    background-color: white;
    width: 44%;
    float: left;
    border-radius: 10px;
    min-height: 40px;
    margin: 3% 3% 0 3%;
    padding: 5px;
    box-shadow: 0px 0px 10px #888;
    border: 1px solid grey;
}

.order .items {
    text-align: left;
}

.order .items input[type=submit] {
    margin-top: 20px;
}

.order span {
    font-size: 32px;
    font-weight: bold;
}