body {
  font-family: verdana, sans-serif;
}
label {
  display: block;
  width: 200px;
  float: left;
}
input {
  display: block;
  margin: 10px 0 10px 0px;
}

#plz{
}

#buttonid{
    margin-left: 272px;
}

